
/* .owl-carousel {
  display: block !important;
  position: relative !important;
  width: 100% !important;
  height: auto !important;
}

.owl-carousel-item {
  position: relative !important;
  display: block !important;
  width: 100% !important;
  height: auto !important;
} */
 .login-btn {
  margin-bottom: 10px  ;
  margin-top:auto;
 }

 .google-btn{
  background-color: rgb(101, 204, 245) !important;
 }
